<% if (theme.mode.layout && theme.mode.layout === 'parallax') { %>
  <% var zDepth = 'z-depth-0' %>
<% } else { %>
  <% var zDepth = 'z-depth-' + theme.shadowLevel %>
<% } %>

<section class="card invade hide-on-small-only about <%= zDepth %>">
  <header class="center-align <%= theme.color %> <%= theme.titleColor %>-text z-depth-<%= theme.shadowLevel %>">
    <img class="circle avatar-bg" src=<%= config.avatar || theme.avatar %>>
    <h3><%= config.author %></h3>
    <div class="subheader section container left-align description"><%= config.description || theme.description %></div>
  </header>
  <div class="card-content z-depth-0">
    <article class="article">
      <%- page.content %>
    </article>
  </div>
</section>

<section class="card hide-on-med-and-up about <%= zDepth %>">
  <header class="center-align <%= theme.color %> <%= theme.titleColor %>-text z-depth-<%= theme.shadowLevel %>">
    <img class="circle avatar-bg" src=<%= config.avatar || theme.avatar %>>
    <h3><%= config.author %></h3>
    <div class="subheader section container left-align description"><%= config.description || theme.description %></div>
  </header>
  <div class="card-content z-depth-0">
    <article class="article">
      <%- page.content %>
    </article>
  </div>
</section>
