<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = 'Archives';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' [ ' + config.title + ' ]';
%>

<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
  <meta charset="UTF-8">
  <link rel="alternate" href=<%= theme.rss %> type="application/atom+xml">
  <title><%= pageTitle %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- favicon_tag(theme.favicon) %>
  <% if (theme.highlight.enable) { %>
    <% if (!theme.highlight.style || theme.highlight.style === 'default') { %>
      <link rel="stylesheet" href='/css/default_highlight.min.css'>
    <% } else { %>
      <link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/9.8.0/styles/<%= theme.highlight.style %>.min.css">
    <% } %>
  <% } %>
  <% if (theme.fancybox) { %>
    <link rel="stylesheet" href="/libs/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
  <% } %>
  <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <% theme.stylesheets.forEach(function(url) { %>
      <link rel="stylesheet" href="<%= url %>">
    <% }); %>
  <% } %>
</head>
<body>

<%- partial('partials/header', {}, {
  cache: true
}) %>
<%- partial('partials/sideNav', {}, {
  cache: true
}) %>

<%
  var blurLevels = ['sm', 'md', 'bg'],
    blurLevel = theme.background_blur ?
      'blur-' + blurLevels[theme.background_blur - 1] :
      '';
%>

<% if (theme.images && !theme.mode.layout || theme.mode.layout !== 'parallax') { %>

  <% if (!theme.images || theme.images.length === 0) { %>
    <% var background = ''; %>
  <% } else if (is_post()) { %>
    <% var background = page.background || theme.images.home %>
  <% } else if (is_archive()) { %>
    <% var background = theme.images.archive; %>
  <% } else if (is_category()) { %>
    <% var background = theme.images.category; %>
  <% } else if (is_tag()) { %>
    <% var background = theme.images.tag; %>
  <% } else if (page.layout === 'about') { %>
    <% var background = theme.images.about; %>
  <% } else if (is_home()) { %>
    <% var background = theme.images.home; %>
  <% } %>

  <div class="background-wrapper <%= blurLevel %>">
    <img src="<%= background %>">
  </div>
  <% var containerOuterClass = 'container-outer' %>
<% } else if (theme.images) { %>
  <%- partial('partials/parallax.ejs', {}, {
    cache: false
  }) %>
  <% var containerOuterClass = '' %>
<% } else { %>
  <div class="parallax-container-replacement transparent">
    <% if (is_home()) { %>
      <div class="container hide-on-med-and-down valign center-align <%= theme.titleColor %>-text">
        <h1 class=""><%= config.title %></h1>
        <h5><%= config.subtitle %></h5>
      </div>
    <% } %>
  </div>
<% } %>

</div>

<main id="container-outer" class="<%= containerOuterClass %>">

  <% if (theme.translucent) { %>
    <% var translucent = 'half-opacity' %>
  <% } else { %>
    <% var translucent = '' %>
  <% } %>

  <% var mainClass = 'col s12 m10 push-m1'; %>
  <% if (theme.widgits && _.some(theme.widgits, Boolean) && is_home()) { %>
    <% mainClass += ' l7 push-l1'; %>
  <% } else { %>
    <% mainClass += ' l8 push-l2'; %>
  <% } %>

  <div class="row <%= translucent %>">

    <div class="<%= mainClass %>" id="container-inner">
      <% if (page.layout === 'about') { %>
        <%- partial('about.ejs', {}, {
          cache: true
        }) %>
      <% } else { %>
        <%- body %>
        <%- partial('partials/tool', {}, {
          cache: true
        }) %>
      <% } %>
    </div>

    <% if (is_post()) { %>
      <aside class="col m2 push-m2 hide-on-med-and-down">
        <div class="toc transparent card-panel z-depth-0">
          <%- toc(page.content, {
            'class': 'table-of-contents',
            'list_number': false
          }) %>
        </div>
      </aside>
    <% } %>


    <% if (theme.widgits && _.some(theme.widgits, Boolean) && is_home()) { %>

      <% if (theme.mode.layout && theme.mode.layout === 'parallax') { %>
        <%- partial('partials/sidebar', {
          background: 'transparent',
          titleColor: theme.color,
          color: theme.subColor,
          shadowLevel: 0
        }) %>
      <% } else { %>
        <%- partial('partials/sidebar', {
          background: 'transparent',
          titleColor: theme.titleColor,
          color: theme.subColor,
          shadowLevel: theme.shadowLevel
        }) %>
      <% } %>

    <% } %>

  </div>

</main>

<%- partial('partials/footer', {}, {
  cache: true
}) %>

<% if (theme.busuanzi) { %>
  <script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<% } %>
<% if (theme.highlight.enable) { %>
  <script src="/js/highlight.min.js"></script>
<% } %>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<% if (theme.fancybox) { %>
  <script type="text/javascript" src="/libs/fancybox/source/jquery.fancybox.pack.js"></script>
<% } %>
<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
  <% theme.scripts.forEach(function(url) { %>
    <script type="text/javascript" src=<%= url %>></script>
  <% }); %>
<% } %>

</body>
</html>
