
<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = 'Archives';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' [ ' + config.title + ' ]';
%>

<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
  <meta charset="UTF-8">
  <link rel="alternate" href=<%= theme.rss %> type="application/atom+xml">
  <title><%=pageTitle%></title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if (theme.fonts !== undefined && theme.fonts.length > 0) { %>
    <!-- fonts list from config.yml -->
    <% theme.fonts.forEach(function(url) { %>
      <link rel="application/font-woff2" href="<%=url%>">
    <% }); %>
  <% } %>
  <% if (theme.highlight.enable) { %>
    <% if (!theme.highlight.style || theme.highlight.style === 'default') { %>
      <link rel="stylesheet" href='/css/default_highlight.min.css'>
    <% } else { %>
      <link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/9.8.0/styles/<%= theme.highlight.style %>.min.css">
    <% } %>
  <% } %>
  <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <!-- stylesheets list from config.yml -->
    <% theme.stylesheets.forEach(function(url) { %>
      <link rel="stylesheet" href="<%=url%>">
    <% }); %>
  <% } %>
</head>
<body>

<%- partial('partials/header') %>
<%- partial('partials/sideNav') %>

<% if (theme.background_blur) { %>
  <% var blurClass = ['sm', 'md', 'bg']; %>
  <div class="background-wrapper blur-<%= blurClass[theme.background_blur - 1] %>">
<% } else { %>
  <div class="background-wrapper">
<% } %>
  <img src=<%= theme.background %> alt="" class="background" />
</div>

<div class="row" id="container-outer">

  <% if (theme.translucent) { %>
    <% var translucent = 'half-opacity' %>
  <% } else { %>
    <% var translucent = '' %>
  <% } %>

  <div class="col m8 s12 push-m2 <%= translucent %>" id="container-inner">
    <% if (page.layout === 'about') { %>
      <%- partial('about.ejs') %>
    <% } else { %>
      <%- body %>
      <%- partial('partials/links') %>
    <% } %>
  </div>

  <aside class="col m2 push-m1 hide-on-med-and-down">

    <div class="userView card-panel">
      <img class="circle" src=<%= config.avatar || theme.avatar %>>
      <h4 class="<%= theme.color %>-text"><%= config.title || theme.title %></h4>
      <span class="<%= theme.color %>-text subheader"><%= config.author || theme.author %></span>
    </div>

    <% if (theme.widgits) { %>
      <div class="card-panel <%= theme.color %>-text">
        <% if (theme.widgits.category && site.categories.length) { %>
          <%- list_categories({
            'class': 'collection'
          }) %>
        <% } %>
      </div>
      <div class="card-panel <%= theme.color %>-text">
        <% if (theme.widgits.tag && site.tags.length) { %>
          <%- list_tags({}) %>
        <% } %>
      </div>
    <% } %>

  </aside>

  <%- partial('partials/footer') %>

</div>

<% if (theme.highlight.enable) { %>
  <script src="/js/highlight.min.js"></script>
<% } %>
<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
  <!-- scripts list from theme config.yml -->
  <% theme.scripts.forEach(function(url) { %>
    <script src=<%= url %>></script>
  <% }); %>
<% } %>

</body>
</html>
