<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = 'Archives';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' [ ' + config.title + ' ]';
%>

<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
  <meta charset="UTF-8">
  <link rel="alternate" href=<%= theme.rss %> type="application/atom+xml">
  <title><%= pageTitle %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if (theme.fonts !== undefined && theme.fonts.length > 0) { %>
    <% theme.fonts.forEach(function(url) { %>
      <link rel="application/font-woff2" href="<%=url%>">
    <% }); %>
  <% } %>
  <% if (theme.highlight.enable) { %>
    <% if (!theme.highlight.style || theme.highlight.style === 'default') { %>
      <link rel="stylesheet" href='/css/default_highlight.min.css'>
    <% } else { %>
      <link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/9.8.0/styles/<%= theme.highlight.style %>.min.css">
    <% } %>
  <% } %>
  <% if (theme.fancybox) { %>
    <link rel="stylesheet" href="/libs/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
  <% } %>
  <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <% theme.stylesheets.forEach(function(url) { %>
      <link rel="stylesheet" href="<%=url%>">
    <% }); %>
  <% } %>
</head>
<body>

<%- partial('partials/header') %>
<%- partial('partials/sideNav') %>

<% if (page.photos && page.photos.length > 0) { %>
  <% var background = page.photos[0]; %>
<% } else { %>
  <% var background = theme.background; %>
<% } %>

<%
  var blurLevels = ['sm', 'md', 'bg'],
    blurLevel = theme.background_blur ?
      'blur-' + blurLevels[theme.background_blur - 1] :
      '';
%>
<% if (theme.mode.layout && theme.mode.layout === 'parallax') { %>
  <%- partial('partials/parallax.ejs') %>
  <% var containerOuterClass = '' %>
<% } else { %>
  <div class="background-wrapper <%= blurLevel %>">
    <img src="<%= background %>">
  </div>
  <% var containerOuterClass = 'container-outer' %>
<% } %>
</div>

<main id="container-outer" class="<%= containerOuterClass %>">

  <% if (theme.translucent) { %>
    <% var translucent = 'half-opacity' %>
  <% } else { %>
    <% var translucent = '' %>
  <% } %>

  <%
    var mainClass = 'col m8 s12';
  %>
  <% if (theme.mode.column && theme.mode.column === 'single') { %>
    <% mainClass += ' push-m2'; %>
  <% } else { %>
    <% mainClass += ' push-m1'; %>
  <% } %>

  <div class="row <%= translucent %>">

    <div class="<%= mainClass %>" id="container-inner">
      <% if (page.layout === 'about') { %>
        <%- partial('about.ejs') %>
      <% } else { %>
        <%- body %>
        <%- partial('partials/links') %>
      <% } %>
    </div>

    <% if (!theme.mode.column || theme.mode.column !== 'single') { %>

      <%- partial('partials/sidebar') %>

    <% } %>

  </div>

</main>

<%- partial('partials/footer') %>

<% if (theme.highlight.enable) { %>
  <script src="/js/highlight.min.js"></script>
<% } %>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<% if (theme.fancybox) { %>
  <script type="text/javascript" src="/libs/fancybox/source/jquery.fancybox.pack.js"></script>
<% } %>
<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
  <% theme.scripts.forEach(function(url) { %>
    <script type="text/javascript" src=<%= url %>></script>
  <% }); %>
<% } %>

</body>
</html>
