
<article id="post" class="card">
  <div class="card-panel <%= theme.color %> <%= theme.titleColor %>-text">
    <div class="row">
      <div class="col m12 l9">
        <h3><%- page.title %></h3>
        <div class="valign-wrapper <%= theme.titleColor %>-text || white-text">
          <i class="material-icons valign">query_builder</i>
          <time datetime="<%= page.date.toJSON() %>" class="valign">
            <%= date(page.date, theme.date_format || config.date_format) %>
            <%= date(page.date, theme.time_format || config.time_format) %>
          </time>
        </div>
        <div class="section">
          <% page.tags.each(function (tag, index) { %>
            <span class="new badge <%= theme.tagColors[index % page.tags.length] %> left" data-badge-caption=""><a class="<%= theme.titleColor %>-text" href=<%= url_for(tag.path) %>><%= tag.name %></a></span>
          <% }); %>
        </div>
      </div>

      <% if (is_post()) { %>
        <div class="col l2 push-l2 hide-on-med-and-down">
          <div class="toc">
            <%- toc(page.content, {
              'class': 'table-of-contents card-panel',
              'list_number': false
            }) %>
          </div>
        </div>
      <% } %>
    </div>
  </div>

  <div class="card-content article">
    <%- page.content %>
  </div>
</article>
