<% if (page.posts.length > 0) { %>

  <section class="valign-wrapper home-profile hide-on-med-and-up <%= theme.color %> <%= theme.titleColor %>-text">
    <div class="card-panel z-depth-0 transparent valign">
      <h3><%= _p('tag_title') %></h3>
    </div>
  </section>

  <div id="tag" class="card-panel z-depth-0 center-align <%= theme.subColor %>-text row">

    <h3 class="flow-text">#<%= page.tag %> (<%= page.posts.length %>)</h3>

      <ul class="left-align col push-l3 l6 push-m2 m8">

        <% page.posts.sort('date', -1).each(function(post) { %>

          <li>

            <% if (post.date) { %>
              <time datetime="<%= post.date.toJSON() %>" class="inline-title">
                <%= date(post.date, theme.date_format || config.date_format) %>
              </time>
            <% } %>

            <!-- <% post.tags.each(function (tag, index) { %>
              <span class="new badge <%= theme.tagColors[index % post.tags.length] %>" data-badge-caption="">
                <%- link_to(url_for(tag.path), '#' + tag.name, {
                  external: theme.external_link,
                  class: (theme.titleColor || white) + '-text'
                }) %>
              </span>
            <% }); %> -->

            <% if (post.link) { %>
              <%- link_to(post.link, post.title, {
                external: theme.external_link,
                class: 'flow-text ' + theme.contentColor + '-text inline-title'
              }) %>
            <% } else if (post.title) { %>
              <%- link_to(config.root + post.path, post.title, {
                external: theme.external_link,
                class: 'flow-text ' + theme.contentColor + '-text inline-title'
              }) %>
            <% } else { %>
              <%- link_to('#', '', {
                external: theme.external_link,
                class: 'flow-text inline-title transparent-text'
              }) %>
            <% } %>



          </li>

        <% }); %>

      </ul>

  </div>
<% } %>
