<% if (theme.translucent) { %>
  <% var translucent = 'half-opacity' %>
<% } else { %>
  <% var translucent = '' %>
<% } %>

<footer class="page-footer <%= theme.color %> <%= translucent %>">
  <div class="container section">
    <div class="center-align <%= theme.titleColor %>-text text-lighten-4">
      <p>
        Powerd by <%- link_to('https://hexo.io/zh-cn/', 'hexo', {
          external: config.external_link
        }) %>. Theme by <%- link_to('https://github.com/hunnble/hexo-theme-immortal', 'immortal', {
          external: config.external_link
        }) %>.
      </p>
      <% if (theme.busuanzi) { %>
        <h6>
          <%= _p('pv') %>&nbsp;<span id="busuanzi_value_site_pv"></span>
          <%= _p('uv') %>&nbsp;<span id="busuanzi_value_site_uv"></span>
        </h6>
      <% } %>
    </div>
  </div>
  <div class="footer-copyright center-align">
    © 2016 <%= config.author %>
  </div>
</footer>
