<footer class="page-footer <%= theme.color %>">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4">
          Site by <%= config.author || theme.author %> using
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <% if (theme.friends) { %>
          <ul>
            <% Object.keys(theme.friends).forEach(function (key) { %>
              <li><a class="<%= theme.titleColor %>-text" href=<%= theme.friends[key] %>><%= key %></a></li>
            <% }); %>
          </ul>
        <% } %>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 <%= config.author || theme.author %>
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
