<div class="fixed-action-btn click-to-toggle">
  <a class="btn-floating btn-large <%= theme.color %>">
    <i class="large material-icons">location_on</i>
  </a>
  <ul>
    <% Object.keys(theme.links).forEach(function(key, index) { %>
      <% if (theme.links[key].href && theme.links[key].icon) { %>
        <li>
          <a class="btn-floating <%= theme.links[key].color || theme.color %> waves-effect %>" href=<%= theme.links[key].href %>>
            <img class="link-img" src=<%= theme.links[key].icon %> alt=<%= key %>>
          </a>
        </li>
      <% } %>
    <% }); %>
  </ul>
</div>
