<% if (page.background) { %>
  <% var background = page.background; %>
<% } else { %>
  <% var background = theme.background; %>
<% } %>

<%
  var blurLevels = ['sm', 'md', 'bg'],
    blurLevel = theme.background_blur ?
      'blur-' + blurLevels[theme.background_blur - 1] :
      '';
%>

<div class="parallax-container valign-wrapper">
  <% if (is_home()) { %>
    <div class="container valign center-align <%= theme.titleColor %>-text">
      <h1 class=""><%= config.title %></h1>
      <h5><%= config.subtitle %></h5>
    </div>
  <% } else if (is_post()) { %>
    <div class="container valign center-align <%= theme.titleColor %>-text">
      <h1 class=""><%- page.title || '' %></h1>
    </div>
  <% } %>
  <div class="parallax <%= blurLevel %>"><img src="<%= background %>"></div>
</div>
