<% if (theme.mode.layout && theme.mode.layout === 'parallax') { %>
  <% var sidebarClass = 'col m3 push-m1 hide-on-med-and-down sidebar' %>
<% } else { %>
  <% var sidebarClass = 'col m3 push-m1 hide-on-med-and-down sidebar sidebar-default' %>
<% } %>
<aside class="<%= sidebarClass %>">

  <% if (theme.widgits) { %>

    <% if (theme.widgits.profile) { %>
      <section class="card-panel <%= background %> <%= color %>-text z-depth-0">
        <header class="subheader <%= titleColor %>-text center-align">
          <img class="circle avatar-bg" src=<%= config.avatar || theme.avatar %>>
        </header>
        <h4 class="<%= theme.subColor %>-text center-align"><%= config.author %></h4>
        <h5 class="<%= theme.subColor %>-text description"><%= config.description %></h5>
        <div class="links">
          <ul>
            <% if (config.external_link) { %>
              <% var target = '_blank' %>
            <% } else { %>
              <% var target = '_self' %>
            <% } %>
            <% Object.keys(theme.links).forEach(function(key, index) { %>
              <% if (theme.links[key].href && theme.links[key].icon) { %>
                <li class="left">
                  <a target="<%= target %>" class="link-wrapper btn-floating <%= theme.links[key].color || theme.color %> center-align waves-effect z-depth-0 %>" href=<%= theme.links[key].href %>>
                    <img class="link-img" src=<%= theme.links[key].icon %> alt=<%= key %>>
                  </a>
                </li>
              <% } %>
            <% }); %>
          </ul>
        </div>
      </section>
    <% } %>

    <% if (theme.widgits.category && site.categories.length) { %>
      <section class="card-panel <%= background %> <%= theme.subColor %>-text z-depth-0">
        <i class="material-icons left">redeem</i>
        <header class="subheader">
          <%= _p('category_title') %>
        </header>
        <div class="divider"></div>
        <%- list_categories({
          depth: 1
        }) %>
      </section>
    <% } %>

    <% if (theme.widgits.tag && site.tags.length) { %>
      <section class="card-panel <%= background %> <%= color %>-text z-depth-0">
        <i class="material-icons left">label_outline</i>
        <header class="subheader <%= titleColor %>-text">
          <%= _p('tag_title') %>
        </header>
        <div class="divider"></div>
        <% if (theme.widgits.tag === 'cloud') { %>
          <ul>
            <li><%- tagcloud(site.tags, {
              min_font: 12,
              max_font: 28
            }) %></li>
          </ul>
        <% } else { %>
          <%- list_tags({}) %>
        <% } %>
      </section>
    <% } %>

    <% if (theme.widgits.recent_posts && site.posts.length) { %>
      <section class="card-panel <%= background %> <%= color %>-text z-depth-0">
        <i class="material-icons left">launch</i>
        <header class="subheader <%= titleColor %>-text">
          <%= _p('recent_title') %>
        </header>
        <div class="divider"></div>
        <%- list_posts({
          amount: theme.recent_count
        }) %>
      </section>
    <% } %>

  <% } %>

</aside>
