<% if (theme.mode.layout && theme.mode.layout === 'parallax') { %>
  <% var sidebarClass = 'col push-l1 l3 hide-on-med-and-down sidebar' %>
<% } else { %>
  <% var sidebarClass = 'col push-l1 l3 hide-on-med-and-down sidebar sidebar-default' %>
<% } %>
<aside class="<%= sidebarClass %>">

  <% if (theme.widgits) { %>

    <% if (theme.widgits.profile) { %>
      <section class="card-panel <%= background %> <%= color %>-text z-depth-0">
        <header class="subheader <%= theme.titleColor %>-text card-panel z-depth-<%= shadowLevel %> <%= titleColor %>">
          <i class="material-icons left">person_pin</i>
          <%= _p('profile_title') %>
        </header>
        <div class="center-align">
          <img class="circle avatar-md" src="<%= config.avatar || theme.avatar %>">
          <h3 class="center-align"><%= config.author %></h3>
          <div class="links">
            <ul class="center-align sidebar-profile collection">
              <%- partial('partials/links.ejs') %>
            </ul>
          </div>
          <h5 class="description left-align"><%= config.description %></h5>
        </div>
      </section>
    <% } %>

    <% if (theme.widgits.category && site.categories.length) { %>
      <section class="card-panel <%= background %> <%= color %>-text z-depth-0">
        <header class="subheader <%= theme.titleColor %>-text card-panel z-depth-<%= shadowLevel %> <%= titleColor %>">
          <i class="material-icons left">redeem</i>
          <%= _p('category_title') %>
        </header>
        <%- list_categories({
          depth: 1,
          class: 'collection'
        }) %>
      </section>
    <% } %>

    <% if (theme.widgits.tag && site.tags.length) { %>
      <section class="card-panel <%= background %> <%= color %>-text z-depth-0">
        <header class="subheader <%= theme.titleColor %>-text card-panel z-depth-<%= shadowLevel %> <%= titleColor %>">
          <i class="material-icons left">label_outline</i>
          <%= _p('tag_title') %>
        </header>
        <% if (theme.widgits.tag === 'cloud') { %>
          <ul class="collection">
            <li class="collection-item">
              <%- tagcloud(site.tags, {
                min_font: 16,
                max_font: 32
              }) %>
            </li>
          </ul>
        <% } else { %>
          <%- list_tags({
            class: 'collection'
          }) %>
        <% } %>
      </section>
    <% } %>

    <% if (theme.widgits.recent_posts && site.posts.length) { %>
      <section class="card-panel <%= background %> <%= color %>-text z-depth-0">
        <header class="subheader <%= theme.titleColor %>-text card-panel z-depth-<%= shadowLevel %> <%= titleColor %>">
          <i class="material-icons left">launch</i>
          <%= _p('recent_title') %>
        </header>
        <%- list_posts({
          amount: theme.recent_count,
          class: 'collection'
        }) %>
      </section>
    <% } %>

  <% } %>

</aside>
