<ul id="slide-nav" class="side-nav">
  <li>
    <div class="userView <%= theme.color %>">
      <div class="background">
      </div>
      <img class="circle" src=<%= config.avatar || theme.avatar %>>
      <h3 class="<%= theme.titleColor %>-text"><%= config.author || theme.author %></h5>
      <h5 class="<%= theme.titleColor %>-text subheader"><%= config.subtitle || theme.subtitle %></h5>
    </div>
  </li>
  <% Object.keys(theme.menu).forEach(function(key) { %>
    <li><a class="waves-effect <%= theme.color %>-text" href="<%= theme.menu[key] %>"><%= _p(key) %></a></li>
  <% }); %>
</ul>
